{% extends 'layouts/default/base.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('style/courses_style.css') }}">
    <div class="main-container">
        <div class="section" id="triathlon">
            <div class="section-title">
                <h1>TRIATHLON</h1>
            </div>
            <div class="section-content">
                {% for race in triathlon %}
                <a href="#" class="w-max-1/3 p-7 text-center w-full border border-lime-500 rounded-3xl m-2.5">
                    <h1 class="uppercase">{{ race.titre }}</h1>
                    <h2 class="uppercase">{{ race.format }}</h2>
                    <p class="text-gray-200">{{ race.challenge ? race.challenge : '.' }}</p>
                    <h3 class="text-lime-400">{{ race.prix }}€</h3>
                </a>

                {% endfor %}
                <div class="w-max-1/3 p-7 text-center w-full border border-lime-500 rounded-3xl m-2.5">
                    <h1>INDIVIDUEL</h1>
                    <h2>FORMAT S</h2>
                    <p style="color:lightgray">Challenge écoles</p>
                    <h3 class="price">30€</h3>
                    <div class="details">
                        <a>
                            Détails
                            <span class="arrow">-></span>
                        </a>
                    </div>
                </div>

                <div class="section-element">
                    <h1>INDIVIDUEL</h1>
                    <h2>FORMAT M</h2>
                    <p style="color:lightgray">Championnats Régionnaux Occitanie</p>
                    <h3 class="price">40€</h3>
                    <div class="details">
                        <a>
                            Détails
                            <span class="arrow">-></span>
                        </a>
                    </div>
                </div>

                <div class="section-element">
                    <h1>INDIVIDUEL</h1>
                    <h2>FORMAT L</h2>
                    <p style="color:lightgray">.</p>
                    <h3 class="price">80€</h3>
                    <div class="details">
                        <a>
                            Détails
                            <span class="arrow">-></span>
                        </a>
                    </div>
                </div>

                <div class="section-element">
                    <h1>RELAIS</h1>
                    <h2>FORMAT S</h2>
                    <p style="color:lightgray">Challenge écoles</p>
                    <h3 class="price">40€</h3>
                    <div class="details">
                        <a>
                            Détails
                            <span class="arrow">-></span>
                        </a>
                    </div>
                </div>

                <div class="section-element">
                    <h1>RELAIS</h1>
                    <h2>FORMAT M</h2>
                    <p style="color:lightgray">.</p>
                    <h3 class="price">50€</h3>
                    <div class="details">
                        <a>
                            Détails
                            <span class="arrow">-></span>
                        </a>
                    </div>
                </div>

                <div class="section-element">
                    <h1>RELAIS & DUO</h1>
                    <h2>FORMAT L</h2>
                    <p style="color:lightgray">.</p>
                    <h3 class="price">90€ / 160€</h3>
                    <div class="details">
                        <a>
                            Détails
                            <span class="arrow">-></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="aquathlon">
            <div class="section-title">
                <h1>AQUATHLON</h1>
            </div>
            <div class="section-content">
                <div class="section-element">
                    <h2>JEUNES</h2>
                    <p style="color:lightgray">Catégories Poussins & Pupilles</p>
                    <h3 class="price">5€</h3>
                    <div class="details">
                        <a>
                            Détails
                            <span class="arrow">-></span>
                        </a>
                    </div>
                </div>

                <div class="section-element">
                    <h2>FORMAT XS</h2>
                    <p style="color:lightgray">.</p>
                    <h3 class="price">12€</h3>
                    <div class="details">
                        <a>
                            Détails
                            <span class="arrow">-></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="swimrun">
            <div class="section-title">
                <h1>SWIMRUN</h1>
            </div>
            <div class="section-content">
                <div class="section-element">
                    <h2>JEUNES</h2>
                    <p style="color:lightgray">Catégories Poussins & Pupi </p>
                    <h3 class="price">5€</h3>
                    <div class="details">
                        <a>
                            Détails
                            <span class="arrow">-></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}