{% extends 'layouts/default/base.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('style/courses_style.css') }}">
    <div class="main-container">
        {% for category in categories %}
            <div class="section">
                {% if category.getCourses is not empty %}
                    {% if category.name == "TRIATHLON" %}
                        <style>
                            .title-{{ category.name }} {
                                background-image: linear-gradient(to right, #92c949, white);
                            }
                        </style>
                    {% else %}
                        <style>
                            .title-{{ category.name }} {
                                background-image: linear-gradient(to right, #3f5cff, white);
                            }
                        </style>
                    {% endif %}
                    <div class="section-title title-{{category.name}}">
                        {% if category.colour[1:3] > 'cc' or category.colour[3:5] > 'cc' %}
                            <h1 class="text-black">{{ category.name }}</h1>
                        {% else %}
                            <h1 class="text-gray-100">{{ category.name }}</h1>
                        {% endif %}
                    </div>
                {% endif %}
                
                <div class="section-content">
                    {% if category.getCourses is not empty %}
                        {% for race in category.getCourses %}
                            <style>
                                .course{{race.id}}::before {
                                    background-image: url("{{ race.image }}");
                                }
                            </style>
                            {% if category.name == "TRIATHLON" %}
                                <style>
                                    .course{{race.id}}::after {
                                        background-image: linear-gradient(135deg,rgb(197,40,129), rgb(62,74,217));
                                    }
                                </style>
                            {% else %}
                                <style>
                                    .course{{race.id}}::after {
                                        background-image: linear-gradient(135deg,rgb(184,52,63), rgb(61,75,212));
                                    }
                                </style>
                            {% endif %}
                            
                            <a href="{{ path('app_race_show', {'id' : race.id}) }}"
                            class="w-max-1/3 p-7 text-center w-full border border-lime-500 rounded-2xl m-2.5 transition ease-in delay-50 duration-300 section-element course{{race.id}}"
                            >
                                <h1 class="text-[50px]">{{ race.titre }}</h1>
                                <div style="margin-top: 10px;"></div>
                                <h2 class="text-[35px]">{{ race.format }}</h2>
                                <div style="margin-top: 10px;"></div>
                                <p class="text-base/7 " style="color:lightgray ">{{ race.challenge }}</p>
                                <h3 class="price text-blue-500 text-base/7 ">{{ race.prix }}€</h3>
                            </a>
                        {% endfor %}
                    {% endif %}

                </div>
            </div>

        {% endfor %}
      
    </div>

{% endblock %}