{% extends 'layouts/default/base.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('style/courses_style.css') }}">
    <div class="main-container">
        {% for category in categories %}
            <div class="section">
                <div class="section-title"
                    style="background-image: linear-gradient(to right, {{ category.colour }}, white)">
                    {% if category.colour[1:3] > 'cc' or category.colour[3:5] > 'cc' %}
                        <h1 class="text-black">{{ category.name }}</h1>
                    {% else %}
                        <h1 class="text-gray-100">{{ category.name }}</h1>
                    {% endif %}
                </div>
                <div class="section-content">
                    {% for race in category.getCourses %}
                        <a href="{{ path('app_race_show', {'id' : race.id}) }}"
                           class="w-max-1/3 p-7 text-center w-full border border-lime-500 rounded-3xl m-2.5 transition ease-in delay-50 duration-300 section-element">
                            <h1>{{ race.titre }}</h1>
                            <h2>{{ race.format }}</h2>
                            <p style="color:lightgray">{{ race.challenge }}</p>
                            <h3 class="price text-lime-500">{{ race.prix }}€</h3>
                            {% set backgroundImage = race.image %}<!-- Faire en  sorte de récuperer l'image du textField du dashboard -->
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div> 
{% endblock %}