{% block body %}
    <link rel="stylesheet" href="{{ asset('style/consult_style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        section::before{
            background-image: url("{{race.image}}");
        }
    </style>
    <div class="main-container">
        <section class="section" id="race-sumup">
            <img id="sumup-img" src="https://half.toac-triathlon.com/wp-content/uploads/2023/03/DistancesS.png" alt="a">
        </section>
        <section class="section" id="race-details">
            <div id="blocks">
     <div id="block-infos" name="blockInfos">
        <i class="icon-default-style fa fa-clock" style="font-size: 45px!important; line-height: 45px!important; color: deeppink;"></i>
        <h3 class="titre3">
            INFOS+
        </h3>
    </div>



               <div id="block-horaires" name="blockHoraires">
                <i class="icon-default-style fa fa-file-text"style="font-size: 45px!important; line-height: 45px!important; color: deeppink;"></i>
                    <h3 class="titre3">
                        HORAIRES
                    </h3>
                </div>

              <div id="block-tarifs" name="blockTarifs">
                <i class="icon-default-style fa fa-eur"style="font-size: 45px!important; line-height: 45px!important; color: deeppink;"></i>
                <h3 class="titre3">
                    TARIFS
                </h3>
            </div>



                <script>

                    let contenuCarreInfos = ` <i class="icon-default-style fa fa-clock"style="font-size: 45px!important; line-height: 45px!important; color: deeppink;"></i>
                
                    <h3 class="titre3">INFOS+</h3>
                    `;

                    let contenuCarreHoraires = `  <i class="icon-default-style fa fa-file-text"style="font-size: 45px!important; line-height: 45px!important; color: deeppink;"></i>
                       <h3 class="titre3">HORAIRES+</h3>
                    `;

                    let contenuCarreTarifs = `   <i class="icon-default-style fa fa-eur" style="font-size: 45px!important; line-height: 45px!important; color: deeppink;"></i>
               
                    <h3 class="titre3">TARIFS</h3>
                    `;

                    let hcontenuCarreInfos = `
                        <div class="zone-texte">
                            <h3 class="titre2"><b>Spécificités</b></h3>
                            
                            <p>{{ race.specificites }}</p>
                        </div>

                        <div class="milieu zone-texte">
                            <h3 class="titre2"><b>Catégories d’âges</b></h3>

                            <p>{{ race.catAge }}</p>
                        </div>

                        <div class="zone-texte">
                            <h3 class="titre2"><b>Clôture des Inscriptions</b></h3>

                            <p><b>{{ race.clotInscr|date('Y-m-d H:i:s') }}</b></p>
                        </div>
                    `;
                    let hcontenuCarreHoraires = `
                        <div class="zone-texte">
                            <h3 class="titre4" style="text-transform:uppercase"><b>{{ race.jour }}</b></h3>
                        </div>

                        <div class="zone-texte milieu">
                            <p>{{ race.horaires }}</p>
                        </div>

                        <div class="zone-texte">
                            <p>{{ race.horaires2 }}</p>
                        </div>
                    `;
                    
                    {% if race.detailNonL != null %}
                    let hcontenuCarreTarifs = `
                        <h3 class="titre1"><b>INDIVIDUEL</b></h3>
                        
                        <p><span class="prix">{{ race.individuel }}€</span> <br>+ {{ race.detailNonL }}€ pour les non licenciés</p> 

                    `;
                    {% else %}
                      let hcontenuCarreTarifs = `
                        <h3 class="titre1"><b>INDIVIDUEL</b></h3>
                        
                        <p><span class="prix">{{ race.individuel }}€</span> </p> 

                    `;
                    {% endif %}
                    {% if race.relais > 0 %}
                        hcontenuCarreTarifs += `
                        <h3 class="titre1"><b>RELAIS</b></h3>
                        
                        <p><span class="prix">{{ race.relais }}€</span> <br>{{ race.detailNonLR }} pour les non licenciés</p>

                    `;
                    {% endif %}

                    {% if race.duo > 0 %}
                        hcontenuCarreTarifs += `
                        <h3 class="titre1"><b>DUO</b></h3>
                        
                        <p><span class="prix">{{ race.duo }}€</span> par équipe <br>{{ race.detailNonLD }} pour les non licenciés</p>

                    `;
                    {% endif %}
                
                    const blockInfos = document.querySelector('[name="blockInfos"]');
                    const blockHoraires = document.querySelector('[name="blockHoraires"]');
                    const blockTarifs = document.querySelector('[name="blockTarifs"]');
                
                    blockInfos.addEventListener('mouseenter', () => {
                        // Changez le texte et le style du carré au survol
                        blockInfos.innerHTML = hcontenuCarreInfos;
                        blockInfos.classList.add('hovered');
                    });
                
                    blockInfos.addEventListener('mouseleave', () => {
                        // Rétablissez le contenu par défaut et le style lorsque le survol est terminé
                        blockInfos.innerHTML = contenuCarreInfos;
                        blockInfos.classList.remove('hovered');
                    });
                
                    blockHoraires.addEventListener('mouseenter', () => {
                        // Changez le texte et le style du carré au survol
                        blockHoraires.innerHTML = hcontenuCarreHoraires;
                        blockHoraires.classList.add('hovered');
                    });
                
                    blockHoraires.addEventListener('mouseleave', () => {
                        // Rétablissez le contenu par défaut et le style lorsque le survol est terminé
                        blockHoraires.innerHTML = contenuCarreHoraires;
                        blockHoraires.classList.remove('hovered');
                    });

                    blockTarifs.addEventListener('mouseenter', () => {
                        // Changez le texte et le style du carré au survol
                        blockTarifs.innerHTML = hcontenuCarreTarifs;
                        blockTarifs.classList.add('hovered');
                    });
                
                    blockTarifs.addEventListener('mouseleave', () => {
                        // Rétablissez le contenu par défaut et le style lorsque le survol est terminé
                        blockTarifs.innerHTML = contenuCarreTarifs;
                        blockTarifs.classList.remove('hovered');
                    });
                </script>
            </div>
            <div id="buttons">
                <a href="https://www.tiptiptop.top/37/inscription-en-ligne-triathlon-nailloux.html">S'inscrire</a>
                <a href="https://half.toac-triathlon.com/courses/reglement/">Règlement de la course</a>
            </div>
        </section>
        <section class="section" id="map-details">
            <h1>PARCOURS</h2>
            <div id="maps">
                {% if race.mapRace2 != "" %}
                    <div id="map1">
                        <iframe src="{{race.mapRace2}}" width="100%" height="100%"></iframe>
                    </div>
                {% endif %}
                <div id="map2">
                    <iframe src="{{race.mapRace}}" width="100%" height="100%"></iframe>
                </div>
                {% if race.mapRace3 != "" %}
                    <div id="map3">
                        <iframe src="{{race.mapRace3}}" width="100%" height="100%"></iframe>
                    </div>  
                {% endif %}
        </section>
        <section class="section" id="texte">
            <h2>Assurance "remboursement 100%"</h2>
            <p id="prix-course">{{race.prixAss}}€</p>
            <h3>Conditions d’éligibilité au remboursement</h3>
           
            <ol>
                <li>L’assurance n’est valable que si elle est souscrite le même jour avec le billet de l’inscription. Aucune assurance souscrite séparément ne sera prise en compte.</li>
                <li>Le coût total de l’inscription sera remboursé jusqu’à 8 jours avant la date de l’événement pour les personnes ayant souscrit à l’assurance de remboursement 100%. Passée cette date, il n’y aura pas de remboursement.</li>
                <li>Pour les inscriptions sans l’assurance de remboursement 100%, aucun remboursement ne sera possible quelque soit le motif.</li>
            </ol>
        </section>
    </div>
{% endblock %}