{% extends "layouts/dashboard/base.html.twig" %}

{% block title %}Blog{% endblock %}
{% block subtitle %}Consulter, créer et modifier les publications du site.{% endblock %}

{% block action %}
    <a href="{{ path('app_dashboard_blog_new') }}" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition-all">Nouvelle publication</a>
{% endblock %}

{% block body %}
    <table class="w-full">
        <thead>
            <tr>
                <th>#</th>
                <th>Titre</th>
                <th>Création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.createdAt|date("m/d/Y") }}</td>
                <td>
                    <a href="{{ path('app_dashboard_blog_edit', {'id': post.id}) }}" class="button-primary">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}