{% extends 'layouts/default/base.html.twig' %}

{% block body %}
    {# <link rel="stylesheet" href="{{ asset('style/sponsor.css') }}"> #}
    <link rel="stylesheet" href="{{ asset('style/footer_style.css') }}">
    <style>
 
body {
    margin: 0;
    font-size: 16px; /* Utilisez des unités relatives pour la taille de police */
}

.background {
    background-image: url('../assets/epreuves_programme.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Ajustez la hauteur de l'arrière-plan pour couvrir l'écran entier */
    display: flex;
    grid-template-columns: auto auto auto auto;
    gap: 8%;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.square {
    margin-top: 10%;
    width: 60%;

}

/* Styles pour le surlignage du texte au survol */

.container{
    color: rgb(68, 68, 68);
    font-family: Arial, sans-serif;
    text-align: left; /* Le texte sera centré horizontalement */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 33px;
    font-weight: bold;
}
h2 {
    font-size: 24px;
}
h3{
    font-size: 16px;
    font-weight: bolder;
    margin-top: 8%;

}
p {
    font-size: 14px;
    text-align: left; /* Le texte du paragraphe reste aligné à gauche */
    margin-left: 20px;
    margin-right: 20px;
}

#slider {
    user-select: none;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 10%;
    height: 400px; /* Hauteur de la div */
    overflow: hidden; /* Pour s'assurer que l'image ne dépasse pas la div */
}

#precedent,
#suivant {
    cursor: pointer;
    transition: opacity 0.4s ease;
    opacity: 0;
    position: absolute;
    font-size: 50px;

    color: rgba(220, 220, 220, 0.8);
    background-color: rgba(45, 44, 44, 0.8);
    padding: 10px;
}
.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.container2 {
    margin-top: 10%;
    display: flex; /* Utilisez un conteneur flexible pour centrer les images */
    justify-content: center; /* Centrez horizontalement les éléments enfants */
    align-items: center; /* Centrez verticalement les éléments enfants */
    gap: 10%;
    margin-bottom: 2%;
}

.container2_2 img{
    width: 100%; /* Définissez la largeur à 100% pour que les images soient de la même taille */
    max-width: 80%; /* Vous pouvez définir une largeur maximale si nécessaire */
    height: auto; /* Permettez à la hauteur de s'ajuster automatiquement pour maintenir les proportions */
    margin-left: 5%;
}
.container2_3 img {
    width: 7%;
    max-width: 80%;
    height: auto;
    margin-left: 5px; /* Ajoutez cette ligne pour réduire la marge gauche entre les images */
}

#precedent {
    left: 0;
}

#suivant {
    right: 0;
}

#slider:hover #precedent,
#slider:hover #suivant {
    opacity: 1;
}
.image-container {
    display: flex;
    justify-content: center;
    grid-column: auto auto;
}
.centered-logos {

    gap:10%;
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    height: 100%; /* Assurez-vous que la div parente prend toute la hauteur disponible */
}

p{
    text-align: center;
}
    </style>

    <div class="container">
        <div class="square">
            <h3>Nos sponsors et partenaires institutionnels</h3>
            <div class="image-container"> <!-- Ajoutez cette div parent -->
                <div class="container2_2">
                    <img src="{{  asset('assets/partenaires.jpg') }}">
                </div>
            </div>
        </div>
        <div class="square">
            <div class="image-container">
                <div class="container2_3">
                    <!-- La nouvelle div parente pour les logos -->
                    <div class="centered-logos">
                        <img src="{{  asset('assets/logo_1.jpg') }}">
                        <img src="{{  asset('assets/logo_2.png') }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
