{% extends 'layouts/dashboard/base.html.twig' %}

{% block title %}Courses{% endblock %}
{% block subtitle %}Gestion des courses{% endblock %}

{% block body %}
    <h1>Course index</h1>

    <table class="w-full">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Format</th>
                <th>Prix</th>
                <th>Challenge</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.id }}</td>
                <td>{{ course.titre }}</td>
                <td>{{ course.format }}</td>
                <td>{{ course.prix }}</td>
                <td>{{ course.challenge }}</td>
                <td>
                    <a href="{{ path('app_dashboard_course_show', {'id': course.id}) }}">show</a>
                    <a href="{{ path('app_dashboard_course_edit', {'id': course.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_dashboard_course_new') }}">Create new</a>
{% endblock %}
